<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <title>{% block title %}Mon Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav>
        <div class="logo" id="logo">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/logo_1.png') }}" alt="KOUMAN K. YVES">
            </a>
        </div>
        
        <!-- Menu hamburger pour mobile -->
        <div class="menu-toggle">
            <span>d</span>
            <span>f</span>
            <span></span>
        </div>
        
        <ul>
            <li><a href="{{ url_for('index') }}"><span>Accueil</span></a></li>
            <li><a href="{{ url_for('about') }}"><span>À propos</span></a></li>
            <li><a href="{{ url_for('project') }}"><span>Projets</span></a></li>
            <li><a href="{{ url_for('competence') }}"><span>Compétences</span></a></li>
            <li><a href="{{ url_for('experience') }}"><span>Expérience</span></a></li>
            <li><a href="{{ url_for('contact') }}"><span>Contact</span></a></li>
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/logo_1.png') }}" alt="KOUMAN K. YVES">
        </a>

        <div class="social-links">
            <a href="https://wa.me/2250594601303" target="_blank">WhatsApp</a>
            <a href="https://www.facebook.com/kouman.kouassi.yves" target="_blank">Facebook</a>
            <a href="https://www.linkedin.com/in/kouman-kouassi-yves" target="_blank">LinkedIn</a>
            <a href="https://github.com/kouman-kouassi-yves" target="_blank">GitHub</a>
        </div>
        
        <div>
            <p>&copy; 2026 KOUMAN KOUASSI YVES - Tous droits réservés</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>