{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
{% endblock %}

{% block content %}
<section id="contact">
    <h2>Contact</h2>

    <!-- Messages flash -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="form-message {{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <p>Email : <br><a href="mailto:yveskouassikouman@gmail.com">yveskouassikouman@gmail.com</a></p><br>
    <p>Téléphone : <br>
        <a href="tel:+22505946001303">+225 05 94 60 13 03</a> <br>
        <a href="tel:+22507053680009">+225 07 05 36 80 09</a><br>
    </p><br>
    <p>Télécharger mon CV : <a href="https://drive.google.com/file/d/19gDHm-xMW-NJ3ewHZr3R8abLiO8Tgocl/view?usp=sharing"
            download>Mon CV</a></p>
    <hr>
    <br>
    <h3>Formulaire de contact</h3>

    <form action="{{ url_for('submit_contact') }}" method="post">
        <input type="text" name="name" placeholder="Nom" required>
        <input type="email" name="email" placeholder="Email" required>
        <textarea name="message" placeholder="Message" required></textarea>
        <button type="submit">Envoyer</button>
    </form>
</section>
{% endblock %}
