<! DOCTYPE html>
<html>
  <tête>
    <meta charset="UTF-8" />
    <title>Bonjour Monde</title>
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>

    <!-- Ne pas utiliser cela dans la production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
  </tête>
  <corps>
    <div id="root"></div>
    <script type="text/babel">
    
      fonction MyApp() {
        retour <h1>Bonjour, monde ! </h1>;
      }

      const container = document.geTelementById('root');
      const root = ReactDOM.createRoot(container);
      root.render(<MyApp />);

    </script>
  
      Remarque: cette page est un excellent moyen d'essayer React, mais elle ne convient pas à la production.
      Il compile lentement JSX avec Babel dans le navigateur et utilise une grande version de développement de React.

      Lisez cette page pour démarrer un nouveau projet React avec JSX:
      https://react.dev/learn/start-a-new-react-project

      Lisez cette page pour ajouter React avec JSX à un projet existant:
      https://react.dev/learn/add-react-to-an-existant-project
      <script>
  
  </corps>
</html